<div class="w-full h-1/8 flex-center justify-between">
  <div class="flex-center gap-4">
    <p-avatar icon="pi pi-user" size="large" />
    <p class="text-xl">{{ receiverUserInfo()?.username }}</p>
  </div>
  <div class="flex-center gap-2">
    <p-button [text]="true" icon="pi pi-phone" size="small" />
    <p-button [text]="true" icon="pi pi-video" size="small" />
  </div>
</div>
<div class="h-6/8 flex flex-col gap-4">
  @for (message of conversations(); track $index) { 
    @if (message.sender === currentUserInfo.username) {
      <div class="">
        <p class="p-text-secondary text-vsm">{{ message.date | date : 'medium' }}</p>
        <div
          class="bg-green-100 rounded-br-xl rounded-t-xl py-1 px-3 w-fit max-w-[500px] break-words p-text-secondary text-sm"
        >
          {{ message.content }}
        </div>
      </div>
      } @else {
      <div class="float-right">
        <p class="p-text-secondary text-vsm text-end">{{ message.date| date : 'medium' }}</p>
        <div
          class="bg-secondary py-1 px-3 float-right rounded-bl-xl rounded-t-xl w-fit max-w-[500px] p-text-secondary text-sm break-words"
        >
          {{ message.content }}
        </div>
      </div>
    } 
  }
</div>
<div class="line"></div>
<div class="w-full h-1/8 flex-center justify-between gap-4">
  <div class="flex-center">
    <p-button [text]="true" icon="pi pi-paperclip" size="small" />
    <p-button [text]="true" icon="pi pi-camera" size="small" />
    <p-button [text]="true" icon="pi pi-image" size="small" />
  </div>
  <input
    class="w-full text-sm"
    pInputText
    placeholder="Tap here ..."
    [(ngModel)]="message"
  />
  <p-button [text]="true" icon="pi pi-send" size="small" (click)="send()" />
</div>
